In [1]:
# import das biblioteca necessarias

# import da biblioteca respon´savel por acessar, manipular e análisar dados.
import pandas as pd

# Import da biblioteca responsável por criar varios tipos de gráficos
import seaborn as sns

# Import da biblioteca responsável por criar e manipular gráficos
import matplotlib.pyplot as plt

In [ ]:
# Incêndios Florestais no Brasil: Os incêndios florestais são um grave problema
# para a preservação das Florestas Tropicais. Compreender a frequência de
# incêndios florestais em uma série temporal pode ajudar a tornar medidas
# para evita-los. O Brasil tem a maior floresta tropical do planeta que é
# a floresta.

# Carregando na memória o arquivo csv. Nesse caso foi necessário codificar # o arquivo pro padrão 'latin1' que tem suporte para caracteres especiais.

base_dados = pd.read_csv('Dados_Incendio.csv', encoding='latin1')

In [9]:
print("AS 5 PRIMEIRAS LINHAS DO DATASET")

base_dados.head()

AS 5 PRIMEIRAS LINHAS DO DATASET

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [11]:
print("INFORMAÇÕES GERAIS DO DATASET")

base_dados.info()

INFORMAÇÕES GERAIS DO DATASET
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    6454 non-null   int64
 1   state   6454 non-null   object
 2   month   6454 non-null   object
 3   number  6454 non-null   float64
 4   date    6454 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 252.2+ KB

In [12]:
# Para facilitar a nossa análise vamos renomear as colunas do dataset
# O inplace True ira aplicar a renoemação de colunas no dataset carregado
# na memória
base_dados.rename(columns={
    
    'year': 'Ano',
    'state': 'Estado',
    'month':'Mes',
    'number': 'Numero',
    'date':'Data'
}, inplace=True)

In [13]:
print("VERIFICANDO SE OS NOMES DAS COLUNAS FORAM ALTERADOS")

base_dados.columns

VERIFICANDO SE OS NOMES DAS COLUNAS FORAM ALTERADOS

Index(['Ano', 'Estado', 'Mes', 'Numero', 'Data'], dtype='object')

In [14]:
# Podemos verificar essa informação no info, mas, vamos visualizar o total de 
# valores nulos em cada coluna

print("TOTAL DE VALORES NULOS DAS COLUNAS")

base_dados.isnull().sum()

TOTAL DE VALORES NULOS DAS COLUNAS

Ano       0
Estado    0
Mes       0
Numero    0
Data      0
dtype: int64

In [ ]:
# Vamos ver a análise descritiva do dataset
# O método describe irá retornar:
# count: Quantidade de valores de cada coluna. Valores nulos
# não são considerados nessa contagem.
# mean: A média dos valores de cada coluna
# std: O desvio padrão dos valores de cada coluna
# min: O valor minimo de cada coluna
# 25%: 1° quartil representado por 25% dos dados de cada coluna
# 50%: 2° quartil representado por 50% (mediana) dos dados de cada coluna
# 75%: 3° quartil representado por 75% dos dados
# max: O valor máximo de cada coluna.
base_dados.describe()

               Ano       Numero
count  6454.000000  6454.000000
mean   2007.461729   108.293163
std       5.746654   190.812242
min    1998.000000     0.000000
25%    2002.000000     3.000000
50%    2007.000000    24.000000
75%    2012.000000   113.000000
max    2017.000000   998.000000